.invertColors {
    filter: invert(100%) saturate(0%) brightness(100%) contrast(10000%);
    -moz-osx-font-smoothing: grayscale; /* used to avoid "boldlike" font */
    -webkit-font-smoothing: antialiased; /* used to avoid "boldlike" font */
}

@keyframes moveFromParent {
    from {
        top: var(--parenty);
        left: var(--parentx);
        visibility: hidden;
        opacity: 0;
    }
    to {
        top: var(--nodey);
        left: var(--nodex);
        visibility: visible;
        opacity: 1;
    }
}

@keyframes moveToParent {
    from {
        top: var(--nodey);
        left: var(--nodex);
        visibility: visible;
        opacity: 1;
    }
    to {
        top: var(--parenty);
        left: var(--parentx);
        visibility: hidden;
        opacity: 0;
    }
}

.node {
    left: var(--nodex);
    top: var(--nodey);
}

.visibleNode {
    animation: moveFromParent 500ms linear forwards;
}

.hiddenNode {
    animation: moveToParent 500ms linear forwards;
}

@keyframes linkOut {
    from {
        visibility: visible;
        stroke-dashoffset: 0;
    }
    to {
        visibility: hidden;
        stroke-dashoffset: 2500;
    }
}

@keyframes linkIn {
    0% {
        visibility: hidden;
        stroke-dashoffset: 2500;
    }
    50% {
        visibility: visible;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

.visibleLink {
    animation: linkIn 1500ms ease-in-out forwards;
}

.hiddenLink {
    animation: linkOut 200ms ease-in-out forwards;
}

@keyframes moveIn {
    0% {
        transform: scale(0.0)
    }
    100% {
        transform: scale(1.0)
    }
}

@keyframes moveOut {
    0% {
        transform: scale(1.0)
    }
    100% {
        transform: scale(0.0)
    }
}

#modalSpace.finished {
    animation: moveOut 500ms ease-in-out forwards;
}

#modalSpace.editing {
    animation: moveIn 500ms ease-in-out forwards;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 130%;
    left: 50%;
    margin-left: -60px;
}

.tooltipright .tooltiptextright {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 152%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltipright .tooltiptextright::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.tooltipright:hover .tooltiptextright {
    visibility: visible;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.crossReference:hover {
    transform: scale(1.1);
    z-index: 50000;
    background-color: #5cb85c;
    color: white;
}

/*.node.visibleNode {
    animation: moveIn 2s ease-in-out 0.95s forwards;
}

.node.hiddenNode {
    animation: moveOut 2s ease-in-out forwards;
}*/
