.invertColors {
    filter: invert(100%) saturate(0%) brightness(100%) contrast(1000%);
    -moz-osx-font-smoothing: grayscale; /* used to avoid "boldlike" font */
    -webkit-font-smoothing: antialiased; /* used to avoid "boldlike" font */
}

.visibleNode {
    visibility: visible;
    opacity: 1;
}

.hiddenNode {
    visibility: hidden;
    opacity: 0;
}

@keyframes moveIn {
    0% {
        transform: scale(0.0)
    }
    100% {
        transform: scale(1.0)
    }
}

@keyframes moveOut {
    0% {
        transform: scale(1.0)
    }
    100% {
        transform: scale(0.0)
    }
}

#editField.finished {
    animation: moveOut 2s ease-in-out forwards;
}

#editField.editing {
    animation: moveIn 2s ease-in-out 0.95s forwards;
}
